
body {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    overflow-x: hidden; 
}

header {
    display: flex;
    height: 100px;
    justify-content: space-around;  
    margin: -9px;
    padding: 0 auto;
      
}

a {
    display: flex;
    text-decoration: none;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

nav {
    background-image: linear-gradient(to right, #eb2323, #e7ff0f);
    margin: 0px 15% 50px 15%;
    
}

nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    height: 50px;
    width: 100%;
    
}
article {display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0px 0px 0px 450px;
}

main  {
    display: flex;
    justify-content: space-around;
}

.box {
    display: flex;
    position: relative;
    top: 1vh;
    background: rgb(169, 77, 231);
    padding: 0px 200px  0px 20px;
    margin: 100px 33% 0px 0px;
    height: 24vh;
    border-radius: 20px;

}

.box ul li {
    display: flex;
    justify-content: start;
    position: relative;
    right: 50px; 
    align-items: start;
    text-align: start;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.box p {
    display: flex;
    position: relative;
    right: 68px;
    bottom: 6px;
    font-weight: bold;
    font-size: 17px;
}
.box div p {
    padding-left: 20px;
}

.box div {
    display: flex;
    position: relative;
    flex-direction: column;
    left: 260px;
    bottom: 203px;
    right: 60px;
    font-weight: bold;
}

main p {
    align-items: start;
    padding-left: 20px;
}

li {
    color: white;
    list-style: none;
}
.img p {
    text-align: start;
    font-size: 20px;
    font-weight: bold;
    padding: auto;
    display: flex;
    align-items: start;
    margin: 0 auto;
}

.img img {
    display: flex;
    margin: 0px 200px;
    position: relative;
    left: 200px;
    width: 300px;
    height: 350px;
}

.img {
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
}

.img p {
    padding-left: 40px;
}


.type .title {
    font-weight: 100;
    display: flex;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin: 10px -45px 10px -355px;

}

.type div {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    font-size: 20px;
    margin: 0px 0px 10px -86px;
}

.type div button {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    padding: 9px 50px 9px 50px;
    margin-left: 5px;
    border-radius: 10px;
    border: 0;
    background: rgb(147, 99, 179);
}

.type .color {
    background: rgb(214, 120, 214);
}



.weak .title {
    font-weight: 100;
    display: flex;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin: 10px -45px 10px -260px;
}


.weak button{
    padding: 9px 45px;
    cursor: pointer;
    margin: 0px -90px 0px 90px;
    
}

.amarelo {
    background: linear-gradient(#d7e93b 50%, #565f07bb 50%);
    border: 0;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}

.rosa {
    background: rgb(255, 7, 222);
    color: white;
    border: 0;
    border-radius: 10px;
}

.roxo {
    border: 0;
    border-radius: 10px;
    background: rgb(147, 99, 179);
    color: white;
    font-weight: lighter;
}

.preto {
    border: 0;
    border-radius: 10px;
    background: rgb(66, 66, 66);
    color: white;
}